.game-btn {
  background-color: transparent;
  padding: 20px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.spin-btn {
  background-color: gold;
}

.vowel-btn {
  background-color: green;
}

.solve-btn {
  background-color: silver;
}

.new-btn {
  background-color: red;
}

.wheel-container {
  position: relative;
  text-align: center;
  top: 20px;
}

.wheel {
  width: 800px;
  height: 800px;
  transform: rotate(0deg);
  transition: transform 10s cubic-bezier(0.08, 0.1, 0.15, 1);
}

.picker {
  text-align: center;
  margin: 0 auto;
  top: 45px;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid black;
  border-radius: 50%;
}

.picker-move {
  transform: rotate(-20deg);
}

.game-buttons {
  display: flex;
  flex-direction: row;
}

.guess-board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: #1c7a45;
  border: 2px solid black;
  z-index: -1;
  border-radius: 40px;
  margin-top: 20px;
}

.guess-tiles-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.guess-tiles {
  margin: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-tiles:after {
  content: "";
  background-color: white;
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: rotateY(0deg);
}

.reveal:after {
  content: "";
  background-color: black;
  position: absolute;
  transition: all 1s ease;
  opacity: 0;
  transform: rotateY(180deg);
}
